/* Estilizado General */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
:root {
    --yellow:#eda31d;
    --first-black:rgb(24, 23, 23);
    --second-black:rgb(15, 15, 15);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}


html {
    scroll-behavior: smooth; 
}

.wrapper, body {
    font-family: "Raleway", sans-serif;
    overflow-x: hidden; 
    background: #000;
}

.seccion-header {
    display: grid;
    gap: 10px;
    justify-items: center;
    padding: 10px 0;
}

.title {
    font-weight: 600;
    color: var(--yellow);
}

.pre-title {
    color: #fff;
}

/* swipper */
.swiper-container{
    width: 100%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-wrapper {
      padding-bottom: 10px;
  }

  .testimonial-review {
      padding-bottom: 10px;
  }

/* Header */

.action {
    background: #fff;
    cursor: pointer;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-toggle {
    background: rgb(20, 17, 17); 
    font-weight: 600;
    position: relative;
    width: 100%;
}

.logo-text {
    color: #fff;
    position: absolute;
    z-index:10;
    padding: 10px;
    padding-left: 15px;
    font-weight: bold;
    
}

.nav-list {
    display:flex;
    list-style: none;   
}

.nav-link {
    font-weight: 600;
    text-decoration: none;   
    padding: 10px 15px;
    width: 100%;
    color: var(--yellow);
    background: rgb(20, 17, 17);
}

    .fas {
        color:#fff;
    }

    .action {
        display:grid;
        grid-template-columns: 1fr;
    }

    .nav-toggle {
        grid-column: 1/2;
        text-align: right;
    }
    
    .fas {
        display: inline-block;
        font-size: 1.5em;
        padding: 10px;
    }
    
    .nav-list{
        flex-direction: column;
    } 

    .nav-item {
        text-align:center;
    }

    .nav-link {
        display: inline-block;

    }

    .nav-link a {
        margin: 10px;
    }

    .border {
        border-radius: 0px 0px 15px 15px;
    }

    /* Scroll Top */

    
#btnScrollToTop {
    padding:10px;
    font-size: 1.5em;
    background:#312f2f;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 10px (0,0,0,.3);
    cursor: pointer;
    border:none;
    outline: none;
}

#btnScrollToTop:active {
    background: #fff;
}

/* Presentacion */

.welcome-section {
    background: url("welcome.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:grid;
    align-items: center;
    font-size: 1.35em;
}

.welcome-text {
    color: #fff;
    width: 100%;
    padding-left:0.8em;
    margin-left: 0.5em;
    color: var(--yellow);
    border-left: 5px solid var(--yellow);
    align-self: flex-end;
}

.welcome-text >* {
    padding: 5px 5px;
}

.btn-email a {
    color: #fff;
    text-decoration: none;
    background:rgba(54, 53, 53, 0.705);
    padding: 5px 15px;
    border-radius: 5px;
    border:5px solid var(-yellow);
}

.btn-email a:active{
    background:(225,225,225,1)
}

.social {
    padding: 10px;
}

.social-link{
    margin: 10px 0;
}

.fab {
    color: #fff;
    margin-top: 10px;
    font-size: 0.85em;

}

.fab:active {
    background: (0,0,0,.5);
}


span {
    font-weight: bold;
    letter-spacing: 0.5px;
}

    /* About */    

    .my_photo {
        width: 60%;
        border-radius: 10px;
    }

    .about >* {
        background: var(--first-black);
    }
    .about-container {
        display:grid;
        color: white;
        background: var(--first-black);
      
    }
    
    .number {
        font-size: 3em;
        font-weight: bold;
    }
    
    .about-grettings {
        color: var(--yellow);
        font-size: 2.5em;
        font-weight: 600;
        margin-bottom: 10px;
    }


    /* Qualification */

    .qualification-info {
        display: grid;
        gap:40px;
    }

.qualification{
    padding-top: 10px;
    background:var(--second-black);
    font-family: "Raleway", sans-serif;
    padding-left: 20px;
}

.qualification>*{
    color: #fff;
}
    .edu-exp {
        height: 100%;
    }
    .w-exp, .st-exp {
        box-shadow: 0 5px 5px 0px rgba(53, 47, 47, 0.3);
        width: 100%;
        padding: 20px 0;
    }

    .w-exp h3, .st-exp h3 {
        margin-bottom: 10px;
    }

    .work-exp, .edu-exp {
        display: grid;
        gap: 20px
    }

    /* Services */

    
.services-button {
    margin: 15px 0;
} 

.btn-services {
    background: var(--yellow);
    text-decoration: none;
    color: var(--first-black);
    padding: 10px 15px;
    border: 1px solid var(--first-black);
    font-weight: bold;
}

.btn-services:hover {
    background:rgba(92, 83, 83, 0.719)
}

.services {
    background: var(--first-black);
    font-family: "Raleway", sans-serif;
    padding: 20px;
}


.services p {
    font-weight: 600;
}

.services h3 {
    font-size: 1.3em;
}

.card-container {
    display: grid;
  
}

  
    .services-card, .contact-card {
    
       
        background: rgb(158, 149, 129);
        padding: 10px;
        box-shadow: 0 5px 10px rgba(225,225,225,0.3);
        margin: 10px;
    }

    .services-card:hover, .hireMe-card:hover {
        transform:translateY(-10px);
   
    }

    .hireMe-container {
        padding: 20px;
    }

    .hireMe-card {
        display: grid;
        gap: 10px;
        justify-items: center;
        text-align: center;
    }
    .hireMe-card {
        background: var(--yellow);
        color: #fff;
        padding: 50px 10px;
        border-radius: 5px;
    }

    .hireMe-card .btn-services {
        background: rgb(158, 149, 129);
        color: #fff;
    }

    .services-card {
        display: grid;
        gap:15px;
        justify-items: center;
        text-align: center;
        padding: 40px 0;
    }

    /* Porfolio */

    .portfolio {
        padding: 10px;
        background: var(--second-black);
        color: #fff;
        font-family: "Raleway", sans-serif;
    }
    .portfolio-menuList {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
       
    }
    
    .port_list-item {
        color: #fff;
        text-decoration: none;
        display: block;
        color: #fff;
        text-align: center;
        font-weight: bold;
        margin: 10px 2px 10px;
        padding: 0 5px;
        font-size: 0.9em;
        padding: 5px 3px;
        border-radius: 5px;
    }
    
    .port_list-item:hover {
        cursor: pointer;
        background: rgba(225,225,225,0.3);
    }
  
    
    .portfolio-grid {
        display: grid;
        justify-content: center;
        margin: 0 15px;
        gap: 15px;
    }

    .portfolio-image {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
    }

    .portfolio-info {
        background: var(--yellow);
        display: grid;
        gap:20px;
        padding: 15px 0 15px 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #000;
    }
    
    .btn-details a{
        text-decoration: none;
        color: var(--second-black);
        border-bottom: 1px solid #000;
        font-weight: bold;
    }

    .btn-details a:hover {
        color: lightslategray;
    }

    /* testimonial */

    .testimonials {
      
        background: var(--first-black);
        font-family: "Raleway", sans-serif;
    }
    
    .testimonial-content {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
    }
    
    
  
    
    .testimonial-content{
        margin-top: 20px;
        display:grid;
        gap: 10px;
        justify-items: center;
        text-align: center;
        border: 1px solid black;
        
    }
    
    .testimonial-review {
        font-weight: 600;
    }
    
    .image-testimonial {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .swiper-button-next, .swiper-button-prev {
        opacity: 0;
      }

      /* Contact */

      .contact-container {
        background: var(--second-black);
        color: #fff;
        font-family: "Raleway", 'sans-serif';
        display:grid;
        gap: 20px;
        max-width: 100%;
    }

    .contact-form {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px;
      gap: 5px;
      margin-top: 10px;
  
    }

    .contact-container {
        padding-top: 10px;
    }

    .contact-form input, #textarea {
      padding: 5px 10px;
      font-family: "Raleway", 'sans-serif';  
      resize: none;
    }

    #submit {
      width:120px;
      height: 40px;
      border-radius: 5px;
      margin-top: 10px;
  }

   input[type="submit"]:hover {
      cursor:pointer;
      background: rgba(161, 149, 149, 0.719);
  }

  .contact-card {
      display: grid;
      gap: 20px;
      justify-content: center;
      text-align: center;
    
  
  }

  .fa-envelope, .fa-address-card {
      font-size: 2.3em;
      
  }

.contact-info {
    display: grid;
}

.contact.social {
    display: flex;
    justify-content: space-around;
  
}

.contact-link {
    margin: 0 20px;
    font-size: 1.3em;
    color:#fff;
}

.input-container {
    display: grid;
    
}

#submit {
    padding: 0;
}

.footer {
    background: var(--yellow);
    text-align: center;
    display: grid;
    gap:20px;
    padding: 20px 0;
    color: #fff;

}

.footer-description {
    width: 80%;
   margin: auto;
}

.footer-text {
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-social {
    margin-top:10px;
}

.footer-footer {
    font-weight: bold;
    padding-top: 40px;
    color:var(--second-black);
}



 @media only screen and (max-width:720px){ 

    /* Header */

        .menu-container {
            position: relative;
            background: var(--first-black);
        
        }
        .header-menu {
            visibility: hidden;
            transition: 0.4s;
            position: absolute;
            width: 100%;
            opacity: 0;

        }

        .active .menu-container .header-menu{
            visibility: visible;
            opacity: 1;
            transition: 0.4s;
        }

           /* About */
        
           .about-container {
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat (3,auto);
            row-gap: 20px;
            align-content: center;
            justify-items: center;
            text-align: center;
         
        }

        .my_photo {
            width: 200px;
            padding-bottom: 35px;
        }

    /* Porfolio */
    
       .portfolio-grid {
           gap:40px;
       } 

       /* testimonials */

       .testimonial-review {
        font-size: 0.8em;
    }
    
 
      /* Contact */

   .input-container {
     
        gap:20px;

    }
 
    input, textarea {
        border-radius: 5px;
    }

    .input-container input {
        padding: 20px;
    }




    }


  
  

    @media only screen and (min-width:576px){ 
        /* About */

        .about-container {
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            margin: 0 auto;
            padding: 0px;     
           
        }

       .about_info {
           padding: 10px;
           display: grid;
           row-gap: 20px;
       }


        .my_photo{
            width: 200px;
            align-self: center;
            grid-row: 1/-1;
            grid-column: 2/-1;
        }

        .about_info {
           grid-column: 1/2;
        }
        .about-jobs{
            padding-bottom: 50px;
        }
            
  
      /* Contact */
        
      .footer {
        font-size: 1.3em;
    }
  
       }

   

 

@media only screen and (min-width:720px) and (max-width:1025px) {


    /* Header */

    .menu-container {
        position: relative;
        background: var(--first-black);

    }
    .header-menu {
        visibility: hidden;
        transition: 0.4s;
        position: absolute;
        width: 100%;
        opacity: 0;
    }

    .active .menu-container .header-menu{
        visibility: visible;
        opacity: 1;
        transition: 0.4s;
    }

    .welcome-text, .social {
        font-size: 2em;
    }

    /* Presentacion */

   .welcome-text {
       font-size: 1.35em;
   }

   .social{
       font-size: 0.85em;
       padding-left: 20px;
   }

    /* About */

    .about-container {
        justify-items: center;
        padding: 20px 0;
    }
 
    .about_info {
        grid-column: 1/2;
        gap: 0px;
     }
     .about-jobs{
         padding-bottom: 25px;
         text-align: center;
         align-self: center;
     }

     .my_photo {
         width: 225px;
     }

     .title {
         font-size: 2.4em;
     }

     /* Qualification */

     .qualification-info {
        grid-template-columns: repeat(2,1fr);
    }

    /* Services */

    .card-container {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        column-gap: 5px;
    }

    .services-card {
        width: 80%;
    }

    .services-card p {
        padding: 0 10px;
    }

    .hireMe-card {
        font-size: 1.5em;
    }

    /* Porfolio */
    
    .portfolio-grid {
        
        grid-template-columns: repeat(2,1fr);
    }
   
    /* testimonial */
.testimonials {
  text-align: center;
}

 .testimonial-content {
     margin: 0 auto;
 }

.slaider {
    width: 80%;
    margin: auto;
}

.testimonials-container {
    display: inline-block;
}



      /* Contact */

      .contact-info {
          grid-template-columns: repeat(2,1fr );
          justify-items: center;
      }

      .contact-card {
          width: 80%;
      }

      .input-container {
        grid-template-columns: repeat(2,1fr );
        gap:10px;
    }

    input, textarea {
        border-radius: 5px;
    }

    .input-container input {
        padding: 20px;
    }
    .text-area {
        grid-column: 1/-1;
    }

    .contact-form {
        width: 80%;
        margin: auto;
    }

   
}

@media only screen and (min-width:1024px) {

    .fa-bars{
        visibility: hidden;   
    }
    .nav-toggle{
        position:absolute;
        z-index:-1;
    }
     
    .header-menu {
        display: static;
        background: var(--second-black);
    }

    .nav-list {
        border:0;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    .welcome-text, .social {
        font-size: 2.3em;
    }

   /* Presentacion */

    
   .welcome-text {
    font-size: 1.8em;
    }

    .social{
        font-size: 0.85em;
        padding-left: 5px;
        display: flex;
    }

    .social-link {
        padding: 0 20px;
    }

    /* About */


    .about-container {
        justify-items: center;
        padding: 20px 0;
    }
 
    .about_info {
        grid-column: 1/2;
        gap: 0px;
     }

   
     .about-description {
         font-size: 1.25em;
     }
     .about-jobs{
         padding-bottom: 25px;
         text-align: center;
         align-self: center;
     }

     .my_photo {
         width: 225px;
     }

     .title {
         font-size: 2.4em;
     }

     /* Qualification */

     .qualification-info {
        grid-template-columns: repeat(2,1fr);
    }

    /* Services */

 

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr) );
    }

    .services-card p {
        padding: 0 10px;
    }

    .hireMe-container {
        padding: 100px 0;
        width: 70%;
        margin: auto;
    }
    .hireMe-card {
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-size: 2em;
    }

    .btn-services {
        font-size: 0.5em;
    }

    .hire-flex p {
        font-size: 0.35em;
    }

    /* Porfolio */
   


    .portfolio-grid {
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr) );
        padding-top: 10px;

    }
 
    
    /* testimonial */

    .testimonial-review {
        width: 80%;
    }
 

    .swiper-slide {
        max-width: 32%;
        justify-self: center;
    }

    
      /* Contact */



      .contact-form {
        width: 60%;
        margin: auto;}

        .contact-info {
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr) );
            padding-top: 10px;
    
        }
     
        .input-container {
            
            gap:10px;
        }

        input, textarea {
            border-radius: 5px;
        }

        .input-container input {
            padding: 20px;
        }

        .footer {
            font-size: 1.5em;
        }
       
 
}
